<!DOCTYPE html>
<html lang="en">
<head>

    <title>About</title>
    <%- include ('./partials/head.ejs') %>
    
</head>
<body class="body">

  <%- include ('./partials/navbar.ejs') %>

<div class="container" style="text-align: center; color: black;">
  <h1 style="font-weight: bold; font-size: 35px;">About Us</h1>
  <br>
  <h3 style="font-style: italic; font-weight: 500; font-size: 27px;">Why We Exist</h3>
  <br>
  <p style="font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero veritatis minus quos, sed omnis harum molestias, maxime impedit labore at repellat, ex accusamus! Quisquam doloremque impedit accusamus amet tempora libero!</p>
</div>

<br>
<div style="padding-right: 120px; padding-left: 120px;">
  <hr style="background-color: black; height: 2px;">
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="box">
            <img src="img/mani.jpg" alt="team img" style="width: 100%; height: 400px;"/>
        </div>
    </div>
    </div>

    <div class="col-md-8" style="text-align: center; padding-top: 25px; font-size: 25px; font-weight: 300;">
      <h3>Best Manicures</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ipsam ad non ea, vero enim deserunt magni iusto dolor. Quis recusandae similique a nulla obcaecati corrupti. Similique quibusdam ullam distinctio!</p>
    </div>
  </div>

    <div style="padding-right: 150px; padding-left: 150px;">
    <hr style="background-color: black; height: 2px;">
  </div>

  <div class="row">
    <div class="col-md-8" style="text-align: center; padding-top: 25px; font-size: 25px; font-weight: 300;">
      <h3>Best Braids and Locks</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ipsam ad non ea, vero enim deserunt magni iusto dolor. Quis recusandae similique a nulla obcaecati corrupti. Similique quibusdam ullam distinctio!</p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="box">
            <img src="img/mani.jpg" alt="team img" style="width: 100%; height: 400px;"/>
        </div>
    </div>
    </div>
    
  </div>

  <div style="padding-right: 150px; padding-left: 150px;">
    <hr style="background-color: black; height: 2px;">
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="box">
            <img src="img/mani.jpg" alt="team img" style="width: 100%; height: 400px;"/>
        </div>
    </div>
    </div>

    <div class="col-md-8" style="text-align: center; padding-top: 25px; font-size: 25px; font-weight: 300;">
      <h3>Best Make Up</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ipsam ad non ea, vero enim deserunt magni iusto dolor. Quis recusandae similique a nulla obcaecati corrupti. Similique quibusdam ullam distinctio!</p>
    </div>
  </div>

  <div style="padding-right: 150px; padding-left: 150px;">
    <hr style="background-color: black; height: 2px;">
  </div>

  <div class="row">
    <div class="col-md-8" style="text-align: center; padding-top: 25px; font-size: 25px; font-weight: 300;">
      <h3>Best Braids and Locks</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ipsam ad non ea, vero enim deserunt magni iusto dolor. Quis recusandae similique a nulla obcaecati corrupti. Similique quibusdam ullam distinctio!</p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="box">
            <img src="img/mani.jpg" alt="team img" style="width: 100%; height: 400px;"/>
        </div>
    </div>
    </div>
    
  </div>

</div>

<footer>
  <%- include ('./partials/footer.ejs') %>
</footer>

  </body>
  </html>