<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Book</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="padding: 20px; background-color: rgb(157, 157, 202); color: white;">
    <a class="navbar-brand" href="#"><img src="" alt="Logo" style="color: white;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="gallery" style="color: black;">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services" style="color: black;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog" style="color: black;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about" style="color: black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team" style="color: black;">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact" style="color: black;">Contact</a>
        </li>
      </ul>
  </div>
  </nav>

<div class="container" style="padding: 2rem;">
<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="img/chica.jpg" alt="">
                    <span>Great Choice</span>
                    <br>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque. Explicabo, quidem harum, molestiae tempora unde molestias consequuntu
                        r tempore nesciunt assumenda quam enim optio illo! Facere labore modi quo perspiciatis.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <form class="form">

    
            <h3>Book an Appointment</h3>
    
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="">
                    </div>
                  </div>
    
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="enter course title">
                  </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="date" id="date" name="date" class="form-control mr-sm-2" type="search" placeholder="September 18 2020 - October 17 2020" aria-label="Search">
                    </div>
                  </div>
    
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Time</label>
                    <div class="col-sm-10">
                        <input type="time" id="time" name="time" class="form-control mr-sm-2" type="search" placeholder="September 18 2020 - October 17 2020" aria-label="Search">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <input type="text" id="category" name="category" class="form-control mr-sm-2" placeholder="hair" aria-label="Search" readonly>
                    </div>
                  </div>
    
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Service</label>
                    <div class="col-sm-10">
                        <input type="text" id="service" name="service" class="form-control mr-sm-2" placeholder="dreadlocks" aria-label="Search" readonly>
                    </div>
                  </div>
    
                  <button style="float: right;" type="submit" class="btn btn-success">Book</button>
    
                  <div>
                   </div>
              </form>
    </div>

</div>
<br>
</div>

<footer style="background-color: black; color: white; padding: 30px; text-align: center;">
        <div class="txt17 p-r-20 p-t-5 p-b-5">
            Copyright © 2020 All rights reserved
        </div>
    </div>
</footer>

  </body>
  </html>