<div style="background-color: black; color: white; padding: 30px; text-align: center;">
    <div class="txt17 p-r-20 p-t-5 p-b-5">
        Copyright © 2020 All rights reserved
    </div>
</div>

