<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="padding: 20px; background-color:purple; color: white;">
    <a class="navbar-brand" href="#"><img src="" alt="Logo" style="color: white;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery" style="color: black;">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services" style="color: black;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog" style="color: black;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about" style="color: black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team" style="color: black;">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact" style="color: black;">Contact</a>
        </li>
      </ul>
    </div>
  </nav>